<h1>오늘의 숨</h1>

<!-- 상단의 카드 3개 보여주기 -->
<div>friend: <%= @day_card.friend_name%></div>
<div>category: <%= @day_card.category%></div>
<div>hashtag: <%= @day_card.hashtag%></div>
<div>memo: <%= @day_card.memo%></div>





<!-- 숨 카드 추가하기 -->
<a href='/friends/list'>숨 추가하기</a>



<!-- 인공호흡 추가하기 -->
<a href='/soomcards/self_soom'>인공호흡 추가하기</a>