<h1>오늘의 숨</h1>

<!-- 상단의 카드 3개 보여주기 -->
<a href='/soomcards/pop_card/:id'>card1</a>
<a href='/soomcards/pop_card/:id'>card2</a>
<a href='/soomcards/pop_card/:id'>card3</a>




<!-- 숨 카드 추가하기 -->
<a href='/friends/list'>숨 추가하기</a>



<!-- 인공호흡 추가하기 -->
<a href='/soomcards/self_soom'>인공호흡 추가하기</a>